In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("deliveries.csv")

In [4]:
dataset.shape

(136598, 21)

In [5]:
dataset.dropna(inplace=True)

In [6]:
dataset.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
33,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,6,2,SC Ganguly,BB McCullum,Z Khan,0,...,0,0,0,0,0,0,0,SC Ganguly,caught,JH Kallis
74,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,13,1,RT Ponting,BB McCullum,JH Kallis,0,...,0,0,0,0,0,0,0,RT Ponting,caught,P Kumar
106,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,18,1,DJ Hussey,BB McCullum,AA Noffke,0,...,0,0,0,0,0,0,0,DJ Hussey,caught,CL White
154,1,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,5,JH Kallis,W Jaffer,AB Agarkar,0,...,0,0,0,0,0,0,0,JH Kallis,caught,M Kartik
157,1,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,2,W Jaffer,CL White,AB Dinda,0,...,0,0,0,0,0,0,0,W Jaffer,caught,RT Ponting

In [7]:
# Top bowlers with maximum wickets
pd.value_counts(dataset['bowler'])[:10]

DJ Bravo           105
R Vinay Kumar      100
A Mishra            95
SL Malinga          85
Harbhajan Singh     84
A Nehra             83
R Ashwin            80
SR Watson           79
PP Ojha             79
PP Chawla           76
Name: bowler, dtype: int64

In [8]:
dataset = pd.read_csv("deliveries.csv")

In [9]:
df = dataset[dataset['batsman_runs'] == 6]

In [10]:
pd.value_counts(df['batsman'])[:10]

CH Gayle          252
RG Sharma         164
SK Raina          161
V Kohli           149
YK Pathan         143
AB de Villiers    142
MS Dhoni          140
DA Warner         134
Yuvraj Singh      133
KA Pollard        125
Name: batsman, dtype: int64

In [11]:
df = dataset[dataset['dismissal_kind'] == 'caught']

In [12]:
pd.value_counts(df['fielder'])[:10]

KD Karthik        80
SK Raina          79
AB de Villiers    75
MS Dhoni          66
RV Uthappa        66
RG Sharma         60
NV Ojha           59
V Kohli           55
PA Patel          54
DJ Bravo          52
Name: fielder, dtype: int64

In [14]:
d = dataset[dataset['batsman'] == 'V Kohli']
d['batsman_runs'].sum()

4115

In [15]:
df = dataset[dataset['batsman_runs'] != 0]

In [16]:
df.shape

(80705, 21)

In [17]:
data = []
for batsman in dataset['batsman']:
    d = dataset[dataset['batsman'] == batsman]
    s = d['batsman_runs'].sum()
    data.append([batsman,s])